.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem 1rem;
}
.header img {
    max-width: 10rem;
    border-radius: 20px;
}
.header > .lc {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
.lc > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.lc > div *:not(button) {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;

    max-width: 20rem;
    width: 100%;
}
.lc > div h2 {
    font-size: 1rem;
    font-weight: 500;
}
.lc > div span {
    color: var(--txt-clr-secondary)
}
.lc > div button {
    color: var(--blue);

    &:hover {
        text-decoration: underline;
    }
}
/* Right Container */
.rc {
    display: flex;
    flex-wrap: wrap;
}
.rc > a * {
    font-size: .8rem;
}
.rc > a {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    height: fit-content;
    padding: .5rem 1rem;
    border-radius: 10px;

    &:hover {
        background: rgba(255,255,255,.05);
    }
}
.rc > a i {
    color: var(--blue);
}
.rc > a h2 {
    font-weight: 500;
}
.rc > a span {
    color: var(--txt-clr-secondary)
}

/* Rename Form */
form.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    height: 100svh;
    height: 100dvh;
    background: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    display: grid;
    place-items: center;
    z-index: 1;
}
form.overlay > div {
    display: flex;
    gap: 2rem 1rem;
    max-width: 30rem;
    width: 100%;
    position: relative;
    padding: 1rem;
}
form.overlay label {
    position: absolute;
    top: -.5rem;
    left: 1rem;
    transform: translateY(-100%);
}
form.overlay input {
    flex-grow: 1;

    border: none;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 1rem;
    height: 3rem;
    background: rgba(255,255,255,.1);
}
form.overlay input::placeholder {
    color: var(--txt-clr-secondary);
}
form.overlay div > button {
    height: 3rem;
    padding-inline: 2rem;
    background: royalblue;
    border-radius: 100vw;
    text-transform: uppercase;
    font-weight: 700;

    &:active {
        outline: 3px solid #fff;
        outline-offset: -6px;
    }
}
form.overlay > button {
    min-width: 3rem;
    min-height: 3rem;
    border-radius: 50%;
    background: rgba(255,255,255,.05);
    display: grid;
    place-items: center;
    position: fixed;
    top: 1rem;
    right: 1rem;
}

@media(max-width: 430px) {
    form.overlay > div {
        flex-direction: column;
    }
}