.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem 1rem;
}
.header .lc {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.header .lc > div span {
    color: var(--txt-clr-secondary);
}
.header .lc > div span i {
    color: var(--blue);
    font-size: .8rem;
    margin-right: .5rem;
}
.header .lc h2 {
    font-size: 1rem;
    font-weight: 500;
}
.header .lc > i {
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: 2rem;
    border: 3px solid #333;
    max-width: 4rem;
    min-width: 4rem;
    min-height: 4rem;
    color: hsl(0,0%,40%);
}
.header .rc {
    display: flex;
    flex-wrap: wrap;
}
.header .rc > button {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem 1rem;
    border-radius: 10px;

    &:hover {
        background: rgba(255,255,255,.05);
    }
}
.header .rc > button > i {
    color: var(--blue);
}
.header .rc > button > div {
    text-align: left;
}
.header .rc > button h3 {
    font-size: .8rem;
    font-weight: 500;   
}
.header .rc > button span {
    font-size: .8rem;
    color: var(--txt-clr-secondary);
}

/* Item */
.item-listing {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.item-listing .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 1rem;
    background: rgba(255,255,255,.05);
    padding: .5rem 1.5rem;
    border-radius: 10px;

    &:hover {
        background: rgba(255,255,255,.1);
    }
}
.item-listing .item > .lc {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.item-listing .item > .lc > div {
    text-align: left;
}
.item-listing .item > .rc {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.item-listing .item > .rc span {
    align-content: center;
    background: royalblue;
    height: 2rem;
    padding-inline: 2rem;
    border-radius: 100vw;
    width: max-content;
}
.item-listing .item > .rc i {
    font-size: .8rem;
}
.item-listing .item > i, .item-listing .item form > i {
    font-size: .8rem;
}
.item-listing .item h3 {
    font-weight: 500;
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.item-listing .item p {
    color: var(--txt-clr-secondary);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.item-listing .item > form {
    min-width: max-content;
}
.item-listing .item > form label {
    padding-right: 1rem;
    font-family: var(--heading-font-family);
    user-select: none;
}
.item-listing .item > form label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}


@media(max-width: 480px) {
    .header .rc > button {
        flex-grow: 2;
    }
}