.header {
    display: flex;
    gap: 2rem;
}
.header .image-placeholder {
    border: 3px dashed gray;
    border-radius: 10px;
    aspect-ratio: 16 / 9;
    position: relative;
}
.header .image-placeholder::before {
    content: 'IMG';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    color: var(--txt-clr-secondary);
}
.header > div {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    gap: 1rem;
    padding-top: 2rem;
    position: relative;
}
.header > div::before {
    content: 'Select a theme to apply';
    position: absolute;
    width: max-content;
    top: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--txt-clr-secondary);
}
.header > div .image-placeholder {
    max-width: 15;
    width: 100%;
}
.header > .image-placeholder {
    max-width: 20rem;
    width: 100%;
}

.item-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    background: rgba(255,255,255,.05);
    padding: .5rem 1.5rem;
    border-radius: 10px;

    &:hover {
        background: rgba(255,255,255,.1);
    }
}
.item > .lc {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.item > .lc > div {
    text-align: left;
}
.item > i {
    font-size: .8rem;
}
.item h3 {
    font-weight: 500;
    font-size: 1rem;
}
.item p {
    color: var(--txt-clr-secondary);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

@media (max-width: 1100px) {
    .header {
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    .header > div {
        grid-template-columns: repeat(2,1fr);
    }
    .header > .image-placeholder {
        max-width: 100%;
    }
}